<a href="https://colab.research.google.com/github/Kannikanti-Geethika/OIBSIP-DATA--ANALYTICS/blob/main/clean_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#CLEAN DATA:
# Step 1: Import Necessary Libraries
import pandas as pd
import numpy as np

# Step 2: Load Data
# uploaded = files.upload()
# df = pd.read_csv('messy_data.csv')

# For demonstration purposes, let's create a sample dataframe
data = {
    'Name': ['John', 'Anna', 'John', np.nan, 'Michael', 'Sara', 'Anna', 'Sara', 'Sam', 'Sam'],
    'Age': [28, 22, 28, 35, np.nan, 30, 22, np.nan, 20, 20],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Chicago', np.nan, 'Los Angeles', 'New York', 'Chicago', 'New York'],
    'Salary': ['50000', '62000', np.nan, '58000', '52000', '58000', '62000', '75000', 'not available', '48000']
}

df = pd.DataFrame(data)

# Step 3: Inspect Data
print("Initial Data:")
print(df)
print("\nData Types:")
print(df.dtypes)
print("\nMissing Values:")
print(df.isnull().sum())

# Step 4: Handle Missing Values
# Option 1: Remove rows with missing values
df_cleaned = df.dropna()

# Option 2: Fill missing values with mean/median/mode or a specific value
df['Age'].fillna(df['Age'].median(), inplace=True)
df['City'].fillna('Unknown', inplace=True)

# Step 5: Remove Duplicates
df.drop_duplicates(inplace=True)

# Step 6: Correct Data Types
# Convert Salary to numeric, handling errors by setting them to NaN
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Step 7: Fix Inconsistencies
# Standardize text data in the City column
df['City'] = df['City'].str.title()

# Step 8: Verify Clean Data
print("\nCleaned Data:")
print(df)
print("\nData Types After Cleaning:")
print(df.dtypes)
print("\nMissing Values After Cleaning:")
print(df.isnull().sum())

Initial Data:
      Name   Age         City         Salary
0     John  28.0     New York          50000
1     Anna  22.0  Los Angeles          62000
2     John  28.0     New York            NaN
3      NaN  35.0      Chicago          58000
4  Michael   NaN      Chicago          52000
5     Sara  30.0          NaN          58000
6     Anna  22.0  Los Angeles          62000
7     Sara   NaN     New York          75000
8      Sam  20.0      Chicago  not available
9      Sam  20.0     New York          48000

Data Types:
Name       object
Age       float64
City       object
Salary     object
dtype: object

Missing Values:
Name      1
Age       2
City      1
Salary    1
dtype: int64

Cleaned Data:
      Name   Age         City   Salary
0     John  28.0     New York  50000.0
1     Anna  22.0  Los Angeles  62000.0
2     John  28.0     New York      NaN
3      NaN  35.0      Chicago  58000.0
4  Michael  25.0      Chicago  52000.0
5     Sara  30.0      Unknown  58000.0
7     Sara  25.0     New York  75000.0
8      Sam  20.0      Chicago      NaN
9      Sam  20.0     New York  48000.0

Data Types After Cleaning:
Name       object
Age       float64
City       object
Salary    float64
dtype: object

Missing Values After Cleaning:
Name      1
Age       0
City      0
Salary    2
dtype: int64